{% extends 'templates/html/base.html' %}

{% block content %}
<h2>{{ title | default:'Confirmation Dialog'}}</h2>
<p>{{ message | default:'Are you sure you want to proceed?'}}</p>

<a href="{{ redirect_url_confirmed | default:'#' }}" class="error button" style="text-align: center; height: unset; max-width: 10rem; padding: 0.5rem;">
    <span>{{ button_yes | default:'Yes' }}</span>
</a>
<a href="{{ redirect_url_declined | default:'#' }}" class="info button" style="text-align: center; height: unset; max-width: 10rem; padding: 0.5rem;">
    <span>{{ button_no | default:'No' }}</span>
</a>

{% endblock %}