{% extends 'templates/html/base.html' %}

{% block content %}
    <div style="width: min-content;">
        <span style="display: flex;">
            <h2>Projects</h2>
            <div style="width: 2rem;"></div>
            <span style="margin: auto;">
                {% include 'templates/html_components/inline_button.html' with label='Add Project' fa_icon='fa-plus' %}
            </span>
            <div class="spacer" style="height: 0; width: 1rem;"></div>
        </span>
    </div>
    {% if projects %}
        <div class="tile-display" style="margin: 0;">
            {% for project in projects %}
                <div class="tile" style="max-width: unset;">
                    <div>
                        <h3>{{ project.name }}</h3>
                        <p class="soft">{{ project.description }}</p>
                        {% include 'templates/html_components/inline_button.html' with label='Upload Invoice' fa_icon='fa-upload' %}
                        {% include 'templates/html_components/inline_button.html' with label='Invoices' fa_icon='fa-file-invoice' href=project.id|stringformat:'s'|add:'/invoice' %}
                        {% include 'templates/html_components/inline_button.html' with label='Create Invoice' fa_icon='fa-file-export' href=project.id|stringformat:'s'|add:'/invoice/create' %}
                        {% include 'templates/html_components/inline_button.html' with label='Payees' fa_icon='fa-boxes-stacked' href=project.id|stringformat:'s'|add:'/payee' %}
                        {% include 'templates/html_components/inline_button.html' with label='Customers' fa_icon='fa-user' href=project.id|stringformat:'s'|add:'/customer' %}
                        {% include 'templates/html_components/inline_button.html' with label='Labels' fa_icon='fa-tag' %}
                        {% include 'templates/html_components/inline_button.html' with label='Reports' fa_icon='fa-chart-simple' %}
                        {% include 'templates/html_components/inline_button.html' with label='Settings' fa_icon='fa-gear' %}
                    </div>
                    <div class="spacer"></div>
                    <div class="tile" style="height: 10vh;">
                        <div class="soft" style="text-align: center;">
                            Business Insight Quickviews coming soon.
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="soft">
            No Project found. Create your first Project now!
        </div>
    {% endif %}
{% endblock %}
