{% extends 'templates/html/base.html' %}

{% block content %}
    <div style="display: flex;">
        <div style="width: min-content; display: flex;">
            <h2>Invoice</h2>
            <div class="spacer" style="width: 2rem;"></div>
            <div style="display: flex; margin: auto auto 1.4rem auto;">
                <span class="soft" style="margin: auto 0 0 0;">
                    {{ invoice.invoice_number }}
                </span>
            </div>
        </div>
        <div style="width: min-content; margin: auto 0 0 auto; display: flex;">
            <div>
                {% with project_id=project.id|stringformat:'s' invoice_id=invoice.id|stringformat:'s' %}
                    {% include 'templates/html_components/inline_button.html' with label='XML Export' fa_icon='fa-file-export' href='/'|add:project_id|add:'/invoice/'|add:invoice_id|add:'/export/xml' %}
                {% endwith %}
            </div>
            <div class="spacer" style="width: 1rem;"></div>
            <div>
                {% with project_id=project.id|stringformat:'s' invoice_id=invoice.id|stringformat:'s' %}
                    {% include 'templates/html_components/inline_button.html' with label='Edit' fa_icon='fa-edit' href='/'|add:project_id|add:'/invoice/'|add:invoice_id|add:'/edit' %}
                {% endwith %}
            </div>
            <div class="spacer" style="width: 1rem;"></div>
            <div>
                {% with project_id=project.id|stringformat:'s' invoice_id=invoice.id|stringformat:'s' %}
                    {% include 'templates/html_components/inline_button.html' with label='Delete' fa_icon='fa-trash-can' href='/'|add:project_id|add:'/invoice/'|add:invoice_id|add:'/delete' confirmation='You are about to delete this invoice. Do you wish to proceed?' %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="invoice" style="">
        <div class="invoice-title" style="text-align: center;"></div>
        <div class="invoice-head" style="display: flex;">
            <div class="invoice-head-left" style="margin: 0 auto 0 0;">
                <h3>Customer</h3>
                <div>{{ invoice.customer.name }}</div>
                <div>{{ invoice.customer.street }}</div>
                <div>{{ invoice.customer.postal_code }}{{ invoice.customer.city }}</div>
                <div>{{ invoice.customer.country }}</div>
            </div>
            <div class="invoice-head-right" style="margin: 0 0 0 auto; text-align: right;">
                <h3>Payee</h3>
                <div>{{ invoice.payee.company_name }}</div>
                <div>{{ invoice.payee.street }}</div>
                <div>{{ invoice.payee.postal_code }}{{ invoice.payee.city }}</div>
                <div>{{ invoice.payee.country }}</div>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="invoice-body">
            <div class="invoice-items">
                <span style="display: flex; border-bottom: 1px solid #ccc;">
                    <h3 style="margin-top: auto;">Items</h3>
                    <div style="width: 2rem;"></div>
                    <span style="margin: auto 0 auto auto;">
                        {% with project_id=project.id|stringformat:'s' invoice_id=invoice.id|stringformat:'s' %}
                            {% include 'templates/html_components/inline_button.html' with label='Add Item' fa_icon='fa-plus' href='/'|add:project_id|add:'/invoice/'|add:invoice_id|add:'/item/add' %}
                        {% endwith %}
                    </span>
                </span>
                <div class="spacer"></div>

                {% if not invoice.invoice_items.all %}
                    <div class="soft">No items found.</div>
                {% endif %}

                {% for item in invoice.invoice_items.all %}
                    <div class="invoice-item" style="display: grid;">
                        <div style="display: inline-flex;">
                            <div style="display: inline;">
                                <b>{{ item.name }}</b>
                                <div class="soft"></div>
                                <div>{{ item.period_start }} - {{ item.period_end }}</div>
                            </div>
                            <div style="margin: auto 1rem auto auto; text-align: right;">
                                <div class="soft">Amount</div>
                                <div>{{ item.price_net }}</div>
                            </div>
                            <div style="margin-left: 1rem;">
                                {% with project_id=project.id|stringformat:'s' invoice_id=invoice.id|stringformat:'s' item_id=item.id|stringformat:'s' %}
                                    {% include 'templates/html_components/inline_button.html' with label='' fa_icon='fa-edit' href='/'|add:project_id|add:'/invoice/'|add:invoice_id|add:'/item/'|add:item_id|add:'/edit' %}
                                {% endwith %}
                            </div>
                            <div style="margin-left: 1rem;">
                                {% with project_id=project.id|stringformat:'s' invoice_id=invoice.id|stringformat:'s' item_id=item.id|stringformat:'s' %}
                                    {% include 'templates/html_components/inline_button.html' with label='' fa_icon='fa-trash-can' href='/'|add:project_id|add:'/invoice/'|add:invoice_id|add:'/item/'|add:item_id|add:'/remove' confirmation='You are about to delete this item. Do you wish to proceed?' %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <div class="spacer"></div>
                {% endfor %}
            </div>
            <div class="spacer"></div>
            <div class="invoice-financial">
                <span style="display: flex; border-bottom: 1px solid #ccc;">
                    <h3 style="margin-top: auto;">Financial terms</h3>
                </span>
                <div class="spacer"></div>
                <div>
                    <div class="soft">Financial account</div>
                    <div>{{ invoice.payee_financial_account }}</div>
                </div>
                <div>
                    <div class="soft">Payment means Code</div>
                    <div>{{ invoice.payment_means_code }}</div>
                </div>
                <div>
                    <div class="soft">Payment Terms</div>
                    <div>{{ invoice.payment_terms }}</div>
                </div>
                <div>
                    <div class="soft">Tax Scheme</div>
                    <div>{{ invoice.tax_scheme }}</div>
                </div>
                <div>
                    <div class="soft">Tax percentage</div>
                    <div>{{ invoice.tax_percentage }}</div>
                </div>
            </div>
        </div>
        <div class="invoice-footer"></div>
    </div>
{% endblock%}